<% @artist.songs.each do |song| %> 
<%= song.name %> 
<a href="/songs/<%= song.slug %>" > Link to <%= song.slug %> </a>
<% end %>

<% @artist.genres.each do |genre| %> 
<%= genre.name %> 
<a href="/genres/<%= genre.slug %>" > Link to <%= genre.slug %> </a>
<% end %>